- 
    var links = [
        {
            text:"Who We Are",
            href: "#who_we_are",
        },
        {
            text:"WHAT WE DO",
            href: "#what_we_do", 
        }, 
        {
            text:"Our Attorneys",
            href: "#our_attorneys",
        },
        {
            text:"News & Insights",
            href: "#news", 
        },
    ]

nav.nav.row-no-gutters
    each link in links
        a.nav-link.grid(href=link.href)= link.text