section.section.section-who_we_are
    div.container
        div.row.row-who_we_are
            div.col.col-who_we_are
                h2.h2.title-who_we_are WHO WE ARE
                p.text.text-who_we_are 
                    |   Honestidad, Credibilidad y Experiencia a tu servicio. Los abogados de MLGA se dedican a ofrecer un amplio numero de servicios legales para las personas que han venido a los Estados Unidos. Con amplia experiencia en la defensa contra la deportación, nos tomamos el tiempo necesario para evaluar las necesidades y circunstancias únicas de cada cliente.
                p.text.text-who_we_are  
                    | Nuestro abogados han defendido a clientes en San Antonio, Houston, Chicago, Nueva York, Nueva Jersey, Pennsylvania, Atlanta, Buffalo, Cleveland y otras ciudades. Los abogados de MLGA cuenta con el equipo de profesionistas que usted necesita para resolver los tramites migratorios. Si estas buscando permanecer en los Estados Unidos o traer a tus seres queridos, nosotros podemos ayudate.
            div.col.col-who_we_are
                div.img-who_we_are
                    img.img(src=require("~/assets/img/section_who_we_are.png").default, alt="img") 