// - index.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lawyer
  body 
    include ./pug/header/header.pug 
    include ./pug/banner/banner.pug
    include ./pug/who_we_are/who_we_are.pug
    include ./pug/what_we_do/what_we_do.pug
    include ./pug/our_attorneys/our_attorneys.pug