body{
    font-family: var(--ff-main), sans-serif;
    max-width:100%;
}
.h2{
    --mt: 15px;
    @include md(--ml, 25px);
    position: relative;

    @include fz(var(--fz-h2));
    font-weight: 700;
    color: (var(--color-main));
    text-transform: uppercase;
    @include lh(var(--lh-h2));

    padding-top: var(--mt);

    &::after{
        content: '';

        position: absolute;
        top:0;
        left: 0;

        width: 60px;
        height: 4px;
        
        background-color: var(--color-info);
    }
}
.h3{
    font-weight: 700;
    @include fz(var(--fz-h3));
    @include lh(var(--lh-h3));
    color: (var(--color-main));
}
.text{
    font-family: var(--ff-text), sans-serif;
    @include fz(var(--fz-text));
    @include lh(var(--lh-text));
    color: var(--color-text);
}
.text-info{
    font-family: var(--ff-text), sans-serif;
    @include fz(var(--fz-info));
    @include lh(var(--lh-text));
    color: var(--color-info); 
    font-weight: 700;
    text-transform: uppercase;
}
.title_text-item{
    --mb: 40px;
    @include lg(--mb, 80px);
    @include mb(var(--mb));
}


.section{
    @include my(var(--size-section));
}
.section-fon{
    @include py(var(--size-section));
}
.title-text{
    text-align: center;
    
    &::after{
        left: calc(50% - 30px);
    } 
}